<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nimxxs.hello.boot.spring5boot.mybatis.MemberMapper">
    <insert id="insertMember" parameterType="Member">
        insert into member2
        (userid, password, name, email, zipcode, addr1, addr2, phone)
        values (#{userid},#{password},#{name},#{email},#{zipcode},#{addr1},#{addr2},#{phone});
    </insert>

    <select id="selectMember" resultType="Member">
        select * from member2
    </select>
</mapper>