<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nimxxs.hello.boot.spring5boot.mybatis.PdsMapper">

    <!-- join result -->
    <resultMap id="pa" type="PdsAttach">
        <result column="fname" property="fname" />
        <result column="ftype" property="ftype" />
        <result column="fsize" property="fsize" />
        <result column="fdown" property="fdown" />
    </resultMap>

    <resultMap id="ppa" type="Pds">
        <result column="pno" property="pno" />
        <result column="title" property="title" />
        <result column="userid" property="userid" />
        <result column="regdate" property="regdate" />
        <result column="thumbs" property="thumbs" />
        <result column="views" property="views" />
        <result column="contents" property="contents" />
        <result column="ipaddr" property="ipaddr" />

        <collection property="pa" resultMap="pa" />
    </resultMap>

    <insert id="insertPds" parameterType="Pds">
        insert into pds (userid, title, contents, ipaddr)
        values (#{userid}, #{title}, #{contents}, #{ipaddr})
    </insert>

    <select id="lastPdsPno">
        <!--  select AUTO_INCREMENT - 1 pno from information_schema.TABLES where TABLE_NAME = 'pds';-->

        select last_insert_id() from pds limit 1,1
    </select>

    <insert id="insertPdsAttach" parameterType="PdsAttach">
        insert into pdsattach (pno, fname, ftype, fsize)
        values (#{pno}, #{fname}, #{ftype}, #{fsize})
    </insert>

    <select id="selectPds" resultType="Pds">
        select pno, title, userid, regdate, thumbs, views from pds
        order by pno desc limit #{stnum}, 25
    </select>

    <select id="selectOnePds" resultMap="ppa">
        select * from ppa where pno = #{pno}
    </select>

    <select id="selectCountPds">
        select ceil (count(pno) / 25) cntpg from pds
    </select>

    <select id="selectOnePdsAttach" resultType="PdsAttach">
        select * from pdsattach where pno = #{pno}
    </select>

    <insert id="insertPdsComment" parameterType="PdsComment">
        insert into pdscomments (userid, comments, ref, pno)
        values (#{userid}, #{comments}, last_insert_id() + 1, #{pno})
    </insert>

    <select id="selectPdsComment" resultType="PdsComment">
        select * from pdscomments where pno = #{pno}
        order by ref
    </select>

    <insert id="insertPdsReply" parameterType="PdsComment">
        insert into pdscomments (userid, comments, ref, pno)
        values (#{userid}, #{comments}, #{ref}, #{pno})
    </insert>

</mapper>